
.row {
  margin-top: 20px;
}

h1{
  margin-left: auto;
  margin-right:auto;
  margin-top: 0;
  font-size: 300%;
  font-weight: bold;
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  text-align: center;
}
