<div class="container">
  <div class="row">

    <div class="col s2">
      <h1><a href="/">RecKit</a></h1>
    </div>

    <div class="col s2 offset-s7">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
        </div>
      </form>
    </div>

    <div class="col s1">
        <a [routerLink]="['account']">
          <a class="waves-effect waves-light btn-large"><i class="fa fa-user" aria-hidden="true"></i></a>
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">

          <ul class="tabs">
            <li class="tab col s3"><a [routerLink]="['news']" routerLinkActive="active"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
            <li class="tab col s3"><a [routerLink]="['record']" routerLinkActive="active"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
            <li class="tab col s3"><a [routerLink]="['discover']" routerLinkActive="active"><i class="fa fa-podcast" aria-hidden="true"></i></a></li>
            <li class="tab col s3"><a [routerLink]="['data']" routerLinkActive="active"><i class="fa fa-database" aria-hidden="true"></i></a></li>
          </ul>

    </div>
  </div>
</div>
